@model AnimalesMVC.Models.AnimalViewModel
<form asp-controller="Estudiantes" asp-action="Index" method="get">
    @Html.LabelFor(model => model.SearchString, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.SearchString, new { HtmlAttributes = new { @class = "form-control", @placeholder = "Ingrese el valor a buscar" } })
        @Html.ValidationMessageFor(model => model.SearchString, "", new { @class = "text-danger" })
    </div>
    <br />
    <input type="submit" class="btn btn-success" />
    <br />
</form>
