@{
    ViewBag.Title = "About";
}
<h2>Acerca de nosotros:</h2>
<h3>S.C.A.E</h3>
<div>
    <center>
        <img src="~/Recursos/Imagenes/Logo.png" alt="200" width="200"/>
    </center>
</div>


<div>
    <center>
        <p> </p>
    </center>
    <p>Somos un grupo de personas emprendedoras que busca ayudar a los animales y registrarlos en nuestra pagina para asi poder documentarlos y clasificarlos.</p>
    <center>
        <img src="~/Recursos/Imagenes/AnimalHuman.jpg" alt="900" width="200" />
    </center>

</div>

