@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    S.C.A.E<br />
    Bogota-Colombia <br />
    <abbr title="">P:</abbr>
    3138712975-3128411848
</address>

<address>
    <strong>Jefe:</strong>   <a href="mailto:Support@example.com">pmiguez3474@gmail.com</a><br />
    <strong>Support:</strong> <a href="mailto:Marketing@example.com">andresflorezrincon11@gmail.com</a>
</address>